</br>
<div class="row">
   <div class="col-sm-4">
      <img src="/img/products/{{ vm.item.image }}" class="col-md img-responsive">
   </div>   
      <div class="col-sm-8">
      <h2><strong>${{ vm.item.price }}</strong></h2>
      <p>{{ vm.item.desc }}</p>
      <p>Available colors: {{ vm.item.availableColors }}</p>
      <p>{{ vm.item.specs }}</p>
      <p>{{ vm.item.stock }} left in stock</p>
      <ul class="list-group">
         <li ng-repeat="review in vm.item.reviews" class="list-group-item">
            <p>{{ review.username }}</p>
            <p>{{ review.rating }}</p>
            <p>{{ review.review }}</p>
            <p>{{ review.createdOn | date: 'MM/dd/yyyy'}}</p>
         </li>
      </ul>
      
      <div ng-if="vm.isLoggedIn()">
         <form name="vm.reviewForm" ng-submit="vm.addReview()">
            Your Rating: <input type="number" name="rating" required ng-pattern="/^[1-5]$/" ng-model="vm.rating">
            Your Review: <textarea name="rating" required ng-model="vm.review"></textarea>
            <button type="submit" class="btn">Add Review</button>
         </form>
      </div>
   </div>
</div>